go 1.22

use (
	./bff
	./services/accounts
	./services/organizations
	./services/departments
	./services/positions
	./services/individuals
	./services/employment-contracts
	./services/employment-order
	./services/dismissal-order
	./proto
)

replace entgo.io/ent => github.com/ent/ent v0.13.1
replace golang.org/x/tools => golang.org/x/tools v0.26.0
